spring:
  application:
    name: api
  profiles:
    active: local

---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:postgresql://localhost:5432/example?currentSchema=commerce
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 1
    validate-on-migrate: true
    out-of-order: false
    clean-disabled: false # 로컬만 허용
  jpa:
    properties:
      hibernate:
        default_batch_fetch_size: 100
  data:
    redis:
      host: localhost
      port: 6379
      password: 1234
      lettuce:
        pool:
          max-active: 10
          max-idle: 5
          min-idle: 2
      timeout: 3000


#Redisson 설정(분산락)
redisson:
  single-server-config:
    address: "redis://localhost:6379"
    connection-pool-size: 10
    connection-minimum-idle-size: 5
---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/example?currentSchema=commerce
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        default_batch_fetch_size: 100
---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:postgresql://localhost:5432/example?currentSchema=commerce
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    url: ${FLYWAY_URL:${DB_URL}}
    user: ${FLYWAY_USER:${DB_USERNAME}}
    password: ${FLYWAY_PASSWORD:${DB_PASSWORD}}
    locations: classpath:db/migration
  jpa:
    properties:
      hibernate:
        default_batch_fetch_size: 100
