spring:
  application:
    name: api
  profiles:
    active: local

---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:postgresql://localhost:5432/example?currentSchema=commerce
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 1
    validate-on-migrate: true
    out-of-order: false
    clean-disabled: false # 로컬만 허용

---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/example?currentSchema=commerce
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:postgresql://localhost:5432/example?currentSchema=commerce
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    url: ${FLYWAY_URL:${DB_URL}}
    user: ${FLYWAY_USER:${DB_USERNAME}}
    password: ${FLYWAY_PASSWORD:${DB_PASSWORD}}
    locations: classpath:db/migration
