spring:
  application:
    name: api
  profiles:
    active: local

---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  flyway:
    enabled: true
    url: ${FLYWAY_URL:${DB_URL}}
    user: ${FLYWAY_USER:${DB_USERNAME}}
    password: ${FLYWAY_PASSWORD:${DB_PASSWORD}}
    locations: classpath:db/migration

---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  flyway:
    enabled: true
    url: ${FLYWAY_URL:${DB_URL}}
    user: ${FLYWAY_USER:${DB_USERNAME}}
    password: ${FLYWAY_PASSWORD:${DB_PASSWORD}}
    locations: classpath:db/migration

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  flyway:
    enabled: true
    url: ${FLYWAY_URL:${DB_URL}}
    user: ${FLYWAY_USER:${DB_USERNAME}}
    password: ${FLYWAY_PASSWORD:${DB_PASSWORD}}
    locations: classpath:db/migration
